body{
	background-color: #5B5755;
}
.pag1{
	display: flex;
}
.pag1 a{
	float: left;
	padding: 8px 18px;
	text-decoration: none;
	color: royalblue;
	background-color: #fff;
}
.pag1 a.active1{
	background-color: blue;
	color: #fff;
}
.pag1 a:hover:not(.active1){
	background-color: lightgray;
}
.pag1 a:first-child{
	border-radius: 5px 0 0 5px;
}.pag1 a:last-child{
	border-radius: 0 5px 5px 0;
}

.two a:first-child{
	border-radius: 45% 0 0 45%;
}.two a:last-child{
	border-radius: 0 45% 45% 0;
}
.two a.active2{
	background-color: red;
	color: #fff;
}
.two a:hover:not(.active2){
	background-color: lightgray;
	color: red;
}
.two{
	display: flex;
	margin-top: 30px;
}
.two a{
	float: left;
	padding: 8px 18px;
	text-decoration: none;
	color: royalblue;
	background-color: #fff;
}

.three{
	display: flex;
	margin-top: 30px;
}
.three a{
	float: left;
	padding: 8px 18px;
	text-decoration: none;
	color: #fff;
	background-color: gray;
}
.three a.active3{
	background-color: green;
	color: #fff;
	border-radius: 45%;
}

.four{
	display: flex;
	margin: 30px 0 0 10px;

}
.four a{
	float: left;
	padding: 8px 18px;
	text-decoration: none;
	color: #fff;
	background-color: #ECC22A;
	border-radius: 50%;
	margin-left: 10px;
}
.four a.active4{
	background-color: #BD9B21;
	color: #fff;
}
.four a:first-child{
	border-radius: 15px 0 0 15px;
}.four a:last-child{
	border-radius: 0 15px 15px 0;
}

.five{
	float: left;
	display: flex;
	margin: 30px 0 0 10px;
background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(92,89,89,1) 100%);
}
.five a{
	float: left;
	padding: 8px 18px;
	text-decoration: none;
	color: #6B6B6A;
}
.five a.active5{
	background-color: #0C7CEC;
	color: #fff;
}
.five a:hover:not(.active5){
	background-color: #1863A7;
	border-radius: 50%;
	color: #fff;
}