.cont{
	background-color: #EBEBE8;
	width: 500px;
	height: 600px;
	border-radius: 10px;
	box-shadow: 0.5px 0.5px 6px gray;
	position: relative;
}
h1{
	text-align: center;
	padding: 13px 15px  8px 0;
	font-size: 35px;
	font-family: sans-serif;
	font-weight: normal;
	color: #3F4C52;
}
hr{
	width: 450px;
	border: 1.2px solid #D9D9D9;
}
.i{
	height: 45px;
	width: 300px;
	box-shadow: 1px 1px 5px gray;
	border-radius: 3px;
	border: 1px solid gray;
	font-size: 22px;
	padding-left: 10px;
	margin: 10px;
	margin-left: 0;
}
.form{
	text-align: center;
	margin: 40px;
	position: relative;
}
.form div label:before{
	content: "";
	background-color: blue;
	height: 10px;
	width: 10px;
}